

<div class="animated fadeIn">
  <div class="row">
      <div class="col md 12">
          <div class="card">
              <div class="card-body" style="padding:10px;">
                <table class="table table-striped" style="font-size:1em">
                  <thead>
                      <tr>
                        <th>Stock Name</th>
                        <th>Stock Value</th>
                        <th>Stock Symbol</th>
                      </tr>
                   </thead>
                  <tbody>
                     <tr *ngFor = "let s of stock">
                       <td>{{s.name}}</td>
                       <td>{{s.value}}</td>
                       <td>{{s.symbol}}</td>
                     </tr>
                  </tbody>
              </table>
              </div>
            </div>
      </div>
    </div>
</div>
